aiofiles==0.6.0
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
ecdsa==0.14.1
fastapi==0.65.1
greenlet==1.1.0
h11==0.12.0
mypy==0.812
mypy-extensions==0.4.3
mysql-connector-python==8.0.25
passlib==1.7.4
protobuf==3.16.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
PyJWT==2.1.0
python-jose==3.2.0
python-multipart==0.0.5
python-stdnum==1.16
rsa==4.7.2
shortuuid==1.0.1
six==1.16.0
SQLAlchemy==1.4.15
starlette==0.14.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
uvicorn==0.13.4
